In [4]:
import pandas as pd

In [5]:
df = pd.read_table('/Users/anokhin/Desktop/data.txt')

In [6]:
df.head()

,campaign_id,clicks_random_email,clicks_random_okid,clicks_random_vid,clicks_random_vkid,clicks_regular_email,clicks_regular_okid,clicks_regular_vid,clicks_regular_vkid,displays_random_email,displays_random_okid,displays_random_vid,displays_random_vkid,displays_regular_email,displays_regular_okid,displays_regular_vid,displays_regular_vkid
0,478833,0,0,0,0,0,0,0,0,0,0,0,0,48,48,61,0
1,478834,0,0,0,0,0,0,0,0,0,0,11,0,444,444,745,0
2,478835,0,0,0,0,0,0,0,0,0,0,1,0,6,6,265,0
3,543578,0,0,0,0,0,0,0,0,0,0,0,0,3,3,40,0
4,543581,0,0,0,0,0,0,0,0,16,16,3,0,107,107,492,0

In [7]:
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [8]:
x = df['clicks_random_email'] / df['clicks_regular_email']
y = df['displays_random_email'] / df['displays_regular_email']

In [9]:
not_nan_ind = np.logical_and(~np.isnan(x), ~np.isnan(y))

xx = x[not_nan_ind]
yy = y[not_nan_ind]

In [28]:
plt.figure(figsize=(10, 10))
plt.scatter(xx, yy)
plt.show()