In [40]:
import pandas as pd
import datetime as dt
import numpy as np

In [43]:
IN_PATH = '/Users/anokhin/Desktop/sample_mail_ok_vk_profi_raw_1120.tsv'
OUT_PATH_ = 'leto.jss'

In [44]:
ts_parser = lambda ts: dt.datetime.strptime(ts, "%Y%m%d")
df1 = pd.read_csv(
    IN_PATH, sep="\t", 
    header=None, names=['cuid', 'emails', 'okids', 'retro_dt'],
    converters={'retro_dt': ts_parser},
    dtype={"okids": str}
)
print df1["retro_dt"].min()
df1.head()

2015-07-01 00:00:00

,cuid,emails,okids,retro_dt
0,10797857,"q9lcDr+Srm3EMP81ht6daiIR8Jkh5HsV,q9lcDr+Srm26n...","445331687393,542038808728",2015-07-01
1,10797884,NaN,544109868796,2015-07-01
2,10797904,NaN,"554548702286,560635318864",2015-07-01
3,10797938,"WcyXDe0IWr6/9452uQ5k6Xe7znBm6rrEiCX4zeAEXtc=,z...","561111793333,479973243872",2015-07-01
4,10797996,NaN,"573630336770,564347554975",2015-07-01

In [45]:
USER_PATTERN = '{"vid":"%s","okid":%s,"email":%s,"vkid":null,"category":{"int":%d},"start":{"long":%d},"end":{"long":%d}}'
STRING_PATTERN = '{"string":"%s"}'
MONTH_SECONDS = 31 * 24 * 60 * 60

In [46]:
with open(OUT_PATH, "w") as out_file:
    for i, row in df1.iterrows():
        end_ts = int(row["retro_dt"].strftime("%s"))
        start_ts = end_ts - MONTH_SECONDS        
        
        emails = row["emails"].split(",") if pd.notnull(row["emails"]) else [""]
        okids = row["okids"].split(",") if pd.notnull(row["okids"]) else [""]
        
        for email in emails:
            for okid in okids:
                em = STRING_PATTERN % email if email else "null"
                ok = STRING_PATTERN % okid if okid else "null"
                print >> out_file, USER_PATTERN % ("", ok, em, 1, start_ts, end_ts)

In [47]:
USER_PATTERN = '{"vid":"%s","okid":%s,"email":%s,"vkid":null,"category":{"int":%d},"start":{"long":%d},"end":{"long":%d}}'
with open("active_emails.jss", "w") as out_file:
    with open("active_emails") as ae:
        for line in ae:
            print >> out_file, USER_PATTERN % ("", "null", STRING_PATTERN % line.strip(), 2, 1435708800, 1446336000)