In [1]:
import pandas as pd

In [10]:
column_names = [
    "tid",
    "price",
    "date",
    "postcode",
    "property_type",
    "old_new",
    "lease_duration",    
    "paon",
    "saon",
    "street", 
    "locality",
    "town",
    "district",
    "county",
    "ppd",
    "status"
]

df_reader = pd.read_csv(
    "/Users/anokhin/Downloads/pp-complete.csv",
    header=None,
    names=column_names,
    index_col=0,
    parse_dates=["date"],
    usecols=["tid", "price", "date", "property_type", "lease_duration", "town"],
    chunksize=10
)

for i, chunk in enumerate(df_reader):
    if i == 1:
        break
    
chunk.head()

,price,date,property_type,lease_duration,town
tid,,,,,
{934524F1-8AA6-4597-8E5E-01CC5A8B9475},46500,1995-12-15,S,F,MARKET HARBOROUGH
{6F595A64-A6A0-444E-9AEE-01CC6284317A},20655,1995-10-02,S,F,TAUNTON
{B8073126-83C5-4041-A78F-01CCC5507370},37500,1995-09-08,S,F,LOWESTOFT
{CA4CA19A-4E70-4B1E-8BEA-01CCFDBDB457},28000,1995-09-01,T,F,NOTTINGHAM
{42E49D2B-0822-4D92-96A2-01CD4E8E05C5},45000,1995-03-10,S,F,WORCESTER